@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body { 
    font-family: 'Ubuntu', sans-serif;
    background-color: #0b152e;
}

p, h1, h2, h3, h4, h5 {
    color: #f3f3f3;
}

.content {
    padding: 1rem;
}
hr{
    height: 1px;
    margin-left: 28%;
    margin-right: 28%;
    margin-bottom: 2.5rem;
    background:#b3b3b3;
}

.list-group {
    width: 30rem;
    padding: .5rem;
    margin: 0 auto;
}
.list-group b {
    font-size: 17px;
    color: #176fd4;
}