@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body { 
    font-family: 'Ubuntu', sans-serif;
    background-color: #0b152e;
}

p, h1, h2, h3, h4, h5 {
    color: #f3f3f3;
}