<div class="container-fluid home">
  <h2>Banco de Dados 2018.2</h2>
  <br><p>Essa aplicação foi elaborada buscando tornar a consulta e visualização dos dados mais “amigável”, 
    de forma que o usuário seja guiado, por meio dos títulos dos campos e abas, a realizar o que deseja mais facilmente.</p>
    <p>O usuário é capaz de navegar nas abas, que por sua vez são as categorias principais dos dados coletados, 
    e realizar consultas em cada uma delas, estando as opções para cada uma disponíveis nas respectivas abas.</p>
  
  <br><br>
  <p>Aline Freire de Rezende</p>
  <p>Gilberto Lopes Inácio Filho</p>
  <p>Maria Eduarda Hamdan Lucena</p>
  <p>Mayara Martins Poim Fernandes</p>
  <p>Yasmin Barbosa Lima</p>
</div>